@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
body, html{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
}
:root{
    --width: 980px;
}
/*TODO Style for HEADER */
.header *{
    text-transform: uppercase;
    text-decoration: none;
}
.header-mini{
    width: var(--width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 26px;
    margin-top: 10px;
}
.header-mini ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-mini *{
    display: inline-block;
    color: gray;
    margin-left: 10px;
    font-size: 95%;
    font-weight: 800;
}
#VNese, #EN{
    color: white;
    box-shadow: 0 0 0 0 black;
    width: 40px;
    text-align: center;
    line-height: 22px;
}
#VNese{
    background: rgb(235, 40, 40);
    border-radius: 16% 0 0 16%;
}
#EN{
    background: gray;
    border-radius: 0 16% 16% 0;
    margin-left: 0;
}

.header-main{
    background: url("../assets/bg-top.png");
    background-repeat: repeat-x;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

/*TODO  Phần main kèm logo */
.menu-header{
    width: var(--width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu-header > ul{
    display: flex;
    flex-direction: row;
}
.menu-header li{
    color: rgb(20, 20, 20);
    font-weight: 700;
    font-size: 95%;
    display : flex;
    margin-right: 40px;
    align-items: flex-end;
}
.parent > li{
    margin-top: 13px;
}
.menu-header a{
    color: rgb(37, 37, 37);
    display: flex;
}
.quick-choose{
    display: flex;
    flex-direction: column-reverse;
    margin: 0px 0px 10px 20px;
}
.tin-tuc{
    align-content: center;
}
.search{
    background: white;
    border: 1px solid rgb(189, 189, 189);
    padding-left: 10px;
    border-radius: 5px;
}
.search input{
    border: none;
    line-height: 150%;
    width: 120px;
    text-transform: none;
}
.search-buy-infor{
    display: flex;
    flex-direction: row;
}
.mua-ve{
    margin-left: 20px;
    justify-content: flex-start;
}
.parent{
    position: relative;
}
/**  Các menu nhỏ hiện lên khi hover vào menu trên */
.child-menu{
    box-shadow: 0px 0px 0px 5px rgba(32, 32, 32, 1);
    background: rgb(32, 32, 32);
    margin: 0;
    padding: 20px 0px 20px 10px;
    border: 2px solid gray;
    flex-direction: row;
    position: absolute;
    display: none;
}
.child-menu li{
    display: block;
    margin-bottom: 20px;
}
.child-menu li:last-child{
    margin-bottom: 0px;
}
.child-menu a{
    display: block;
    color: white;
    text-transform: none;
}
.hover-effect:hover{
    cursor: pointer;
}
#mini-menu1:hover #child-menu1{
    top : 70px;
    left: 150px;
    display: block;
    z-index: 999;
}
#mini-menu2:hover #child-menu2{
    top : 70px;
    left: 250px;
    display: block;
}
#mini-menu3:hover #child-menu3{
    top : 70px;
    left: 350px;
    display: block;
}
#mini-menu4:hover #child-menu4{
    top : 70px;
    left: 450px;
    display: block;
    z-index: 100;
}
.hover-red:hover{
    color: rgb(253, 123, 123);
    transition: 0.2s;
}
/*TODO  Style for 2 FIXED BANNER */
.banner{
    position: relative;
}
.banner > *{
    position: fixed;
}
.banner-left{
    top: 20px;
    left: 10px;
    z-index: 100;
}
.banner-right{
    background: url("../assets/bg-banner.png") no-repeat;
    display: flex;
    flex-direction: column;
    top: 20px;
    right: 10px;
    height: 600px;
    z-index: 100;
}
.banner-right a{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
}
.banner-right a:first-child{
    margin-top: 100px;
}
.child-abs{
    position: absolute;
}


/*TODO Style for CONTAINER */

/** WIDGET */
.widget{
    margin: 0 auto;
    width: var(--width);
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.widget *{
    display: inline-block;
    /* line-height: 10px; */
}
.widget li{
    padding: 0;
    margin: 0;
    /*? Question here : Rộng 980px , chia 7 phần mỗi phần 140px nhưng vẫn bị tràn xuống ? */
    width: 135px;
    height: 90px;
    border-right: 1px solid black;
    box-sizing: content-box;
    line-height: 10px;
}
#widget-1{
    background: url("../assets/widget.png") 0px 0px;
}

#widget-2{
    background: url("../assets/widget.png") 128px 0px;
}

#widget-3{
    background: url("../assets/widget.png") 256px 0px;
}
#widget-4{
    background: url("../assets/widget.png") 400px 0px;
}

#widget-5{
    background: url("../assets/widget.png") 537px 0px;
}

#widget-6{
    background: url("../assets/widget.png") 678px 0px;
}
#widget-7{
    background: url("../assets/widget.png") 814px 0px;
    border-right: none;
}
.widget-full{
    height: 90px;
    width: 135px;
}
.widget::after{
    content: '';
    display: block;
    width: var(--width);
    height: 1px;
    background: black;
}

/*TODO SLIDE main đầu tiên */
.slide{
    margin-top: 20px;
    height: 450px;
    background: url("../assets/bg_c_bricks.png") repeat-x;
    display: flex;
    justify-content: center;
}
.menu-ne{
    display: block;
    margin: 0 auto;
    width: var(--width);
    transform: translateX(-980px);
}
.slide-container{
    width: var(--width);
    height: 450px;
    display: flex;
}
.slide-quang-cao{
    width: var(--width);
    height: 450px;
    overflow: hidden;
}
.slide-container li{
    display: inline;
    width: var(--width);
    height: 450px;
}

.slide-quang-cao button{
    display: inline;
    background: none;
    border: none;
    opacity: 0.5;
    overflow: hidden;
}
button.next{
    top: 200px;
    right: 20px;
}
button.prev{
    top: 200px;
    left: 20px;

}
.slide-quang-cao button:focus{
    outline: none;
}
.slide-quang-cao button:hover{
    opacity: 1;
    transition: 0.3s;
}
.next:hover #next-slide{
    color: white !important;
}
.prev:hover #prev-slide{
    color: white !important;
}
/* * MOVIE SELECTOR VÀ EVENT */
.home-movie-selector{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.home-title{
    background: url("../assets/bg_h3_line.jpg") repeat-x center center;
    display: flex;
    justify-content: center;
    width: var(--width);
}
/*TODO SLIDE CHOOSE MOVIE */
.container-movie{
    display: flex;
    justify-content: center;
}
.poster-movie{
    display: inline;
}
.menu-movie{
    display: flex;
    justify-content: center;
    width: var(--width);
    overflow: hidden;
}
.slide-movie{
    margin: 0;
    width: var(--width);
    display: flex;
    justify-content: space-between;
    height: 360px;
}
.slide-movie li{
    display: block;
    width: 240px;
    margin-right: 6px;
}
.rating-P{
    background: url("../assets/bg-movie-rating.png") 2px 2px;
    width: 48px;
    height: 33px;
    bottom: 320px;
    left: 10px;
}
.rating-16{
    background: url("../assets/bg-movie-rating.png") 97px 2px;
    width: 48px;
    height: 33px;
    bottom: 320px;
    left: 10px;
}
.rating-18{
    background: url("../assets/bg-movie-rating.png") 144px 2px;
    width: 48px;
    height: 33px;
    bottom: 320px;
    left: 10px;
}
.rating-13{
    background: url("../assets/bg-movie-rating.png") 50px 2px;
    width: 48px;
    height: 33px;
    bottom: 320px;
    left: 10px;
}

.infor-buyticket{
    background: url("../assets/bg-transparent-grey.png");
    width: 240px;
    height: 355px;
    top: 0px;
    left: 0px;
    flex-direction: column;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 85%;
    font-weight: bold;
    color: white;
    z-index: 999;
}
.infor-movie{
    padding: 10px;
    background: rgba(0, 0 , 0, 0.7);
}
.name-movie{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.gr-button{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.xem-chi-tiet{
    background: red;
    border-radius: 2px;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    color: white;
}
.buy-ticket{
    background: red;
    border-radius: 2px;
    padding: 5px 8px 5px 8px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.icon-call{
    background: url("../assets/sprite_icon.png") 102px 349px;
    height: 17px;
    width: 24px;
    margin-right: 10px;
}
#movie-1{
    display: none;
}
#poster-movie-1:hover #movie-1{
    display: flex !important;
}

#movie-2{
    display: none;
}
#poster-movie-2:hover #movie-2{
    display: flex !important;
}
#movie-3{
    display: none;
}
#poster-movie-3:hover #movie-3{
    display: flex !important;
}
#movie-4{
    display: none;
}
#poster-movie-4:hover #movie-4{
    display: flex !important;
}
#movie-5{
    display: none;
}
#poster-movie-5:hover #movie-5{
    display: flex !important;
}
#movie-6{
    display: none;
}
#poster-movie-6:hover #movie-6{
    display: flex !important;
}
#movie-7{
    display: none;
}
#poster-movie-7:hover #movie-7{
    display: flex !important;
}

.movie-banner{
    display: none;
}
.poster-movie:hover .movie-banner{
    display: flex !important;
}
.prev{
    background: url("../assets/arow-movie-selection.png") 34px 0;
    width: 33px;
    height: 64px;
    display: none;
}
.next{
    background: url("../assets/arow-movie-selection.png") 0px 0px;
    width: 33px;
    height: 64px;
}
#next-movie{
    top : 141px;
    right: -33px;
}
#prev-movie{
    display: none;
    top : 141px;
    left: -34px;
}


.quang-cao{
    margin: 40px 0 80px 0;
    display: flex;
    justify-content: center;
}
.content-quang-cao{
    overflow: hidden;
}
.toggel-tabs{
    list-style: none outside none;
    display: block;

}
#ribon-left{
    background: url("../assets/ribon_left_menu.gif") no-repeat scroll left 0 #e71a0f;
    padding-left: 19px;
    line-height: 39px;
    color: white;
    font-weight: bold;
}
#ribon-right{
    background: url("../assets/ribon_right.gif") no-repeat scroll right 0 #e71a0f;
    padding-right: 19px;
    line-height: 39px;
    color: white;
    font-weight: bold;
}
.abv-content{
    display: flex;
    height: 201px;
    width: var(--width);
}
.abv-content li{
    display: inline;
    margin-right: 7px;
}
.abv-content img{
    display: flex;
    height: 201px;
    width: 240px;
}
#next-adv{
    top : 75px;
    right : -33px;
}
#prev-adv{
    top: 75px;
    left: -33px;
}

.ticket-couples{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-ticket{
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}
.content-ticket a{
    display: inline-block;
    border: 4px solid black;
    padding: 4px;
    transform: scale(0.8);
}
.content-ticket img{
    display: inline;
}

.footer-content{
    margin-top: 40px;
}
.footer-brand-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-bottom: 20px;
}
.list-brand-film{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: var(--width);
}
.list-brand-film li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-brand-film a{
    display: inline-block;
}
#brand-1{
    background: url("../assets/brand-type-film-footer.png") -18px -6px;
    width: 65px;
    height: 32px;
}
#brand-2{
    background: url("../assets/brand-type-film-footer.png") -708px -13px;
    width: 85px;
    height: 20px;
}
#brand-3{
    background: url("../assets/brand-type-film-footer.png") -981px -9px;
    width: 76px;
    height: 29px;
}
#brand-4{
    background: url("../assets/brand-type-film-footer.png") -567px -10px;
    width: 98px;
    height: 28px;
}
#brand-5{
    background: url("../assets/brand-type-film-footer.png") -1111px -10px;
    width: 112px;
    height: 27px;
}
#brand-6{
    background: url("../assets/brand-type-film-footer.png") -133px -6px;
    width: 101px;
    height: 29px;
}
#brand-7{
    background: url("../assets/brand-type-film-footer.png") -1275px -11px;
    width: 57px;
    height: 26px;
}
#brand-8{
    background: url("../assets/brand-type-film-footer.png") -1362px -4px;
    width: 115px;
    height: 43px;
}
.footer-main{
    display: flex;
    justify-content: center;
}
.footer-main-content{
    display: flex;
    justify-content: space-between;
    width: var(--width);
    font-size: 90%;
    color: rgb(90, 90, 90);
}
.footer-main-content h3{
    margin-bottom: 7px;
}
.footer-main-content ul{
    list-style: none;
}
.footer-main-content a{
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-size: 110%;
    word-spacing: 1px;
}

.icon-follow ul li{
    display: inline;
}
#fb{
    display: inline-block;
    background: url("../assets/bg-social-footer-40.png") -6px 0px;
    width: 43px;
    height: 43px;
}
#youtube{
    display: inline-block;
    background: url("../assets/bg-social-footer-40.png") -52px 0px;
    width: 43px;
    height: 43px;
}
#insta{
    display: inline-block;
    background: url("../assets/bg-social-footer-40.png") -97px 0px;
    width: 43px;
    height: 43px;
}
#line{
    display: inline-block;
    background: url("../assets/bg-social-footer-40.png") -143px 0px;
    width: 43px;
    height: 43px;
}
#zalo{
    display: inline-block;
    background: url("../assets/bg-social-footer-40.png") -190px 0px;
    width: 43px;
    height: 43px;
}
.zoom-icon:hover{
    transition: 0.2s;
    transform: scale(1.4);
}
.customer-cgv{
    width: 274px;
}