
.breadcrumbs {
    background-color: #f1f0e5;
    border-bottom: 1px solid #cacac0;
    padding: 5px 0;
    margin: 0;
    width: 100%;
    display: flex;
}

ul, ol, li {
    list-style: none;
    float: left;
}

.breadcrumbs ul {
    margin: 0px auto;
    width: 980px;
    float: none;
}

.breadcrumbs li {
    float: left;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
}

.breadcrumbs ul li.home a {
    background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-cgv-bread-home.png") no-repeat scroll left center transparent;
    text-indent: -9999px;
    padding: 0 9px;
    width: 17px;
    height: 15px;
}

.breadcrumbs a {
    float: left;
    color: #636363;
    text-transform: capitalize;
    white-space: nowrap;
    padding: 0 9px;
    text-decoration: none;
}

.breadcrumbs span {
    background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-cgv-icon-arrow.png") no-repeat scroll left center transparent;
    text-indent: -9999px;
    padding: 0px 9px;
    display: inline-block;
    float: none;
}

.main-default {
    float: none;
    width: 1000px;
    margin: auto;
}


@media only screen and (min-width: 771px) {
    .main {
        width: 1000px;
        margin: auto;
    }
}

.product-img-box {
    margin-right: 20px;
}

#image-main {
    height:264px;
    width:181px;
}

.page-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

h1 {
    color: #222;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

.page-title span, .h1 {
    color: #222;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

.content-movie {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.product-name {
    margin-bottom: 20px;
}

.movie-info {
    margin-top: 0px;
}

.std {
    display: inline;
}

.movie-info label {
    font-weight: bold;
    margin-right: 5px;
}

.movie-director {
    margin-top: 15px;
}

span.movie-rating-detail.c18 {
    background-position: -931px 0px;
}

.movie-rating-detail {
    float: left;
    font-size: 0px;
    display: block;
    height: 45px;
    width: 68px;
    background-image: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/movie-icon.png");
}

.movie-technology-icons a span.movie-detail-type-starium {
    background-position: -641px 0;
}

.movie-technology-icons {
    margin-top: 10px;
    height: 55px;
}

.movie-technology-icons a span {
    background-image: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/movie-icon.png");
    display: inline-block;
    float: left;
    height: 45px;
    margin-left: 5px;
    position: relative;
    text-indent: -99999px;
    width: 64px;
}

.btn-book {
    background: none no-repeat scroll 0 0 #e71a0f;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 5px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 10px;
}

.btn-book span {
    padding-left: 25px;
    background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cate-booking.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.movie-detail-fb-booking {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toggle-tabs {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.toggle-tabs-left {
    background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-ribon-left-transparent.png") no-repeat scroll left top transparent;
    padding-left: 19px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-tabs li span {
    background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-tebmenu-line.gif") no-repeat scroll right 40px #e71a0f;
    border: medium none;
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 10px;
}

.toggle-tabs-right {
    background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-ribon-right-transparent.png") no-repeat scroll right top transparent;
    padding-right: 19px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-current {
    display: none;
    background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-icon-finger.png") no-repeat scroll 5px 50% #e71a0f;
    content: "";
    height: 40px;
    padding-left: 40px;
}

.toggle-current-active {
    display: inline;
}

.product-collateral {
    margin-top: 30px;
}

.toggle-tabs-detail {
    display: none;
}

.toggle-tabs-detail-active {
    display: block;
}

#tabs-right iframe {
    text-align: center;
}

.header-movie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.header-movie h3 {
    color: #222;
    font-size: 38px;
    text-transform: capitalize;
}

.header-movie h5 a {
    color: #666;
    padding-left: 15px;
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase;
}

.list-movies {
    width: 1000px;
    float: none;
    margin: 0;
    display: inline-block;
}

.movie-item {
    float: left;
    width: 200px;
    height: 430px;
    margin: 25px;
}

.product-image {
    position: relative;
}

.product-image a {
    width: 100%;
    height: 260px;
    border: 6px solid #000000;
    display: inline-table;
    margin-bottom: 5px;
}

.product-image a img {
    width: 100%;
    height: 260px;
}

.product-info {
    height: 155px;
    width: 100%;
    position: relative;
    padding-bottom: 95px;
}

.product-info h2 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
}

.product-info h2 a {
    color: #333 !important;
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
}

.movie-info-bold {
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}

.movie-info-normal {
    font-size: 14px;
    text-align: left;
}

.movie-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}

.show-date-cinemas {
    border: 1px solid #cbcabe;
    color: #222;
    text-align: center;
    width: 100px;
    height: 70px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}